<turbo-frame id="stats_details">
  <div class="mt-12 mb-4">
    <div class="bg-white rounded-lg shadow">
      <div class="p-4">
        <h3 class="text-lg font-bold text-center mb-4">
          Parsing Issues – <%= @source.name %> / <%= @category_class&.display_name || @category.humanize %> (<%= @datasets.length %>)
        </h3>

        <div class="space-y-3">
          <%= render partial: "datasets/dataset", collection: @datasets, as: :dataset, locals: { show_parsing_issues: true, parsing_issues_by_dataset: @parsing_issues_by_dataset } %>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>
